{% load static %}
<!DOCTYPE html>
<head>
    <title>Dada</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="static/images/Dadaimg.png" type="image/x-icon">
    <link href="static/css/custom.css" rel="stylesheet" type="text/css">

    <script type="text/javascript">
        function blockSpecialChar(e) {
            var k = e.keyCode;
            return ((k > 64 && k < 91) || (k > 96 && k < 123) || k == 8 || (k >= 48 && k <= 57));
        }

        function movetoNext(current, nextFieldID) {
            if (current.value.length >= current.maxLength) {
                document.getElementById(nextFieldID).focus();
            }
        }
    </script>

</head>
<body>
<div class="raw">
    <h1>JUST LEARN IT</h1>
</div>

<div style="overflow:auto">
    <div class="menu">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
        <a href="#">Link 4</a>
    </div>


    <div class="main">
        <div class="h2">ADD NUMBERS TO FUN</div>
        <div>
            <form id="frm" runat="server" OnLoad="document.myform.mytextfield.focus();">
                <input style="text-transform: uppercase;" type="text" class="inpu" autofocus="autofocus" id="first" size="1"
                       onkeyup="movetoNext(this, 'second')"
                       onkeypress="return blockSpecialChar(event)" maxlength="1"/>
                <input style="text-transform: uppercase;" type="text" class="inpu" id="second" size="2" onkeyup="movetoNext(this, 'third')"
                       onkeypress="return blockSpecialChar(event)" maxlength="1"/>
                <input style="text-transform: uppercase;" type="text" class="inpu" id="third" size="3" onkeyup="movetoNext(this, 'fourth')"
                       onkeypress="return blockSpecialChar(event)" maxlength="1"/>
                <input style="text-transform: uppercase;" type="text" class="inpu" id="fourth" size="4" onkeyup="return"
                       onkeypress="return blockSpecialChar(event)" maxlength="1"/>
                <input type="reset" value="Clear"/>
            </form>
        </div>
    </div>
    <div class="right">
        <h2>About</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
    </div>
</div>
<div class="rawd">© copyright dada.g@slkgroup.com</div>
</body>
</html>
